html,
body {
   margin: 0 auto;
   background-color: #2f4f30;
   color: white;
}
.titulo {
   text-align: center;
   background-color: black;
   padding: 20px;
}
.carta {
   position: relative;
   width: 150px;
   left: 100px;
   margin-left: -75px;
}
#computador-carta,
#jugador-carta {
   height: 240px;
}
